form {
    width: auto;
    /* height: min-content; */
    
}

#contact {
    width: 40vw;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    border-radius: 15px;
}

#contact h1 {
    font-family: 'Space Mono', monospace;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.contact_submit {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    border: 1px solid rgb(131, 151, 136);
    padding: 2.5rem;
    border-radius: 15px;
    z-index: 1;
    position: relative;
}

label {
    font-family: 'Lexend Deca', monospace;
    color: black;
    margin: 1.5vh 0;
}

input, textarea {
    background-color: inherit;
    color: black;
    font-family: 'Lexend Deca', monospace;
    border: none;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    padding-left: 15px;
}

input {
    min-height: 30px;
}

textarea {
    min-height: 60px;
    border-radius: 0px;
    padding-top: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

input:focus, textarea:focus {
    outline:none;}

.contact_button {
    background: rgb(131, 151, 136);
    border: 2px solid white;
    width: 33%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 50px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Space Mono', monospace;
}

.contact_button:hover {
    cursor: pointer;
}

.result_form {
    color: black;
    font-size: larger;
    font-family: 'Space Mono', monospace;
    align-self: center;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    #contact {
        width: 55vw;
    }
}