footer {
    width: 100%;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    padding: 1.5rem 0;
}

.footer_links {
    display: flex;
    column-gap: 1.5rem;
}