header {
  display: flex;
  padding: 1rem 2.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -0.12em;
  font-weight: 700;
}

header h1 {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 400;
}

header h1 span {
  font-weight: bold;
}

.header-container {
  position: relative;
}

.header-container::after {
  opacity: 0.5;
  content: "";
  position: absolute;
  bottom: 0;
  left: 2.5%;
  width: 95%;
  height: 1px; /* La hauteur de la bordure */
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50px,
    rgba(255, 255, 255, 1) 100px,
    rgba(255, 255, 255, 1) calc(100% - 100px),
    rgba(255, 255, 255, 0.5) calc(100% - 50px),
    rgba(255, 255, 255, 0) 100%
  );
  filter: drop-shadow(0 1px 2px black);
}

header nav {
  margin-left: 2rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

nav a {
  opacity: 0.8;
  text-decoration: none;
  color: inherit;
  margin-left: 1.5vw;
}

nav a:hover {
  opacity: 1;
}
